@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
}
:root{
    --text: #F2F2F2;
    --hover: #55605A;
}
/* Header */

header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: transparent;
}
.navmenu{
    display: none;
    cursor: pointer;
}
nav{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
nav .logo{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 30px;
    line-height: 25px;
    color: black;
}
nav .logo span{
    background: transparent;
    mix-blend-mode: multiply;
    -webkit-text-stroke: 0.8px #060606;
    margin-left: 20px;
    color: transparent;
}
.navlist{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.navlist li a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    margin: 0 25px;
    transition: all 0.4s ease;
    font-style: normal;
    color: #000;
}
.navlist li a{
    padding: 10px 0;
    position: relative; 
}
.navlist li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
}
.navlist li .active,
.navlist li a:hover{
    color: var(--hover);
}
.navlist li .active::after,
.navlist li a:hover::after{
    transform: scale(1,1);
}
.navlist li a::after{
    transform: scale(0,1);
    transition: transform 0.2s ease;
}
.nav_group{
    display: flex;
    align-items: center;
}
.nav_item{
    display: flex;
    align-items: center;
}
.nav_item i{
    margin: 0 10px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}
.nav_item i:hover{
    color: var(--hover);
}
.navicon{
    position: relative;
    top: 0;
    right: 0;
}
.navdesc{
    position: absolute;
    top: -8px;
    right: -1px;
    font-size: 11px;
    font-weight: 500;
    background: red;
    color: white;
    padding: 3px 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_search{
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 100;
    transform: translateY(-100%);
    transition: 0.4s ease-in ;
}

.nav_search.open-search{
    
    transform: translateY(0);
}
.search_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.nav_search input{
    width: 1070px;
    height: 35px;
    outline: none;
    border: none;
    color: #000;
    padding: 0 20px;
    font-size: 18px;
    margin: 0 15px;
    border-bottom: 3px solid black;
}
.nav_search input::placeholder{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav_search  i {
    font-size: 30px;
    color: #000;
}
.nav_search  i:hover{
    color: var(--hover);
}
#close_search{
    font-size: 50px;
}
#close_search:hover{
    transform: rotate(360deg);
    transition: all 0.4s ease-in-out;
}
/* Menu Mobile  */
    .navMobile{
        width: 100vw;
        height: 100vh;
        background: rgb(255, 255, 255,0.96);
        position: fixed;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
    }
    .navMobile ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navMobile ul li{
        margin: 10px 0;
    }
    .navMobile ul li a{
        font-size: 40px;
        font-weight: 900;
        color: #000;
        transition: 0.4s;
    }
    .navMobile ul li a:hover{
        color: var(--hover);
    }
    .navMobile .nav_item a i{
        font-size: 30px;
    }
    .nav_closeX{
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px 40px;
    }
    .nav_closeX i{
        font-size: 40px;
        cursor: pointer;
        
    }
    .nav_closeX i:hover{
        transform: rotate(360deg);
        transition: all 0.4s ease-in-out;
    }
    .navMobile.menu-Right-Mobile{
        transition: 0.5s ease-in forwards;
        transform: translateX(0px);
        animation: inClose 0.5s ease-out forwards ;
    }
    .menu-out{
        animation: outClose 0.5s ease-out forwards ;
    }
    @keyframes outClose {
        0%{
            transform: translateX(0);
            opacity: 0;
        }100%{
            transform: translateX(100%);
            opacity: 1;
        }
    }
    @keyframes inClose {
        0%{
            transform: translateX(100%);
            opacity: 0;
            
        }100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
/* End Menu Mobile  */
/* End Header */
/* Contact */
    .contact{
        width: 100%;
        /* height: 100%; */
        margin:  100px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact_container{
        max-width: 800px;
        
    }
    .contact_container h1{
        font-size: 50px;
        cursor: pointer;
        margin-bottom: 30px;
    }
    .contact_container h1 span{
        font-weight: 400;
        position: relative;
        width: 100%;
    }
    .contact_container h1 span::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: #55605A;
        transform: scale(0);
        transition: 0.4s ease-in;
        
    }
    .contact_container h1:hover span::after{
        transform: scale(1);
        
    }
    .contact_container h1 span:hover{
        color: grey;
    }
    .contact_container p{
        color: grey;
    }
    .contact_container  .we_contact{
        margin-bottom: 60px;
    }
    .contact_list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact_items h3{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .contact_items p{
        line-height: 25px;
    }
    .contact_list .contact_items:nth-child(1) p:nth-child(6) a{
        color: #000;
    }
    
    
/* End Contact */
 /* Footer  */
    footer{
        width: 100%;
        height: 80vh;
        background: #E6E7E8;
        padding: 100px 50px;
    }
    .footer_container{
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    .footer_container h3{
        font-size: 10px;
        color: grey;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .footer_2 p,
    .footer_container .footer_title{
        font-size: 13px;
        color: grey;
        font-weight: 300;
        width: 350px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .footer_3 a{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        color: grey;
        font-weight: 300;
        width: 350px;
        margin-bottom: 20px;
        line-height: 0px;
    }
    .footer_1,
    .footer_2,
    .footer_3{
        /* width: 500px;
        height: 500px; */
        padding: 0 40px;
    }
    .footer_1 .form_email{
        display: flex;
        flex-direction: column;
    }
    .footer_1 .form_email span{
        color: #55605A;
        margin-bottom: 8px;
    }
    .footer_1 .form_email input{
        outline: none;
        border: none;
        padding: 14px 34px;
        margin-bottom: 15px;
        background: transparent;
        border: 1px solid #CBCBCC;
    }
    .footer_1 .form_email .footer_btn{
        outline: none;
        border: none;
        padding: 14px 34px;
        background: #000;
        cursor: pointer;
        color: white;
        margin-bottom: 15px;
    }
    .footer_1 .form_email .footer_btn:hover{
        background: #292929;
    }
    .footer_1 .form_email p{
        text-align: center;
        font-size: 13px;
        color: #55605A;
    }
    .footer_1 .form_email p b{
        color: #000;
        font-weight: 300;
    }
    .footer_wapper  {
        color: grey;
        font-size: 10px;
        margin-top: 100px;
    }
 /* End Footer  */
    .scroll{
        position: fixed;
        z-index: 2;
        bottom: 0;
        right: 0;
        display: flex;
        margin: 20px;
        cursor: pointer;
    }
    .sroll_On{
        width: 100px;
        height: 100px;
        background: #C8F92B;
        text-align: center;
        display: flex;
        align-items: center;
        border-radius: 50%;
        animation: xoay 3s linear  infinite;
    }
    @keyframes xoay {
        0%{
            transform: rotate(0deg);
        }100%{
            transform: rotate(360deg);
        }
    }
    .scroll_title{
        display: flex;
        opacity: 0;
    }
    .scroll_in{
        color: #55605A;
        text-transform: uppercase;
        font-size: 11px;
        transform: rotate(270deg);
        
    }
    .srcoll_icon{
        transform: translate(10px , -20px);
    }
    .srcoll_icon i{
        font-size: 20px;
    }
    .scroll_title.viewon{
        opacity: 1;
    }
    .scroll_title.viewin{
        opacity: 0;
    }
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em){
    /* Header */
    nav{
        padding: 15px 30px;
    }
    .navlist{
        display: none;
    }
    .navmenu{
        display: block;
    }
    .navmenu i {
        font-size: 25px;
        color: #000;
    }
    .logo span{
        font-size: 15px;
        line-height: 18px;
    }
    nav .logo{
        font-size: 20px;
        line-height: 18px;
    }
    .nav_item #user_nav{
        display: none;
    }
    .product_container{
        padding: 50px 30px;
    }
    .product_class2 a,
    .product_class1 a{
        font-size: 10px;
    }
    .footer_container{
        flex-wrap: wrap;
    }
    .footer_wapper{
        margin-top: 50px;
    }
    .footer_1, .footer_2, .footer_3{
        padding: 0;
    }
    footer{
        height: 100vh;
        padding: 50px 30px;
    }
    .footer_wapper{
        margin-bottom: 10px;
    }
    .footer_wapper p {
        margin-bottom: 10px;
    }
    .search_container{
        padding: 0 30px;
    }
    .search_container #close_search{
        font-size: 30px;
    }
    .search_container i{
        font-size: 20px;
    }
    .scroll{
        display: none;
    }
    .contact_container h1 {
        font-size: 30px;
    }
    .contact_list{
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    /* Header */
    nav{
        padding: 15px 50px;
    }
    .navlist{
        display: none;
    }
    .navmenu{
        display: block;
    }
    .navmenu i {
        font-size: 25px;
        color: #000;
    }
    .navmenu i:hover{
        color: var(--hover);
    }
    #user_nav{
        display: none;
    }
    .logo span{
        font-size: 20px;
        line-height: 18px;
    }
    nav .logo{
        font-size: 25px;
        line-height: 18px;
    }
    .search_container{
        padding: 0px 40px;
    }
    /* End Header */
    /* Product */
    .product_container{
        padding: 100px 50px;
    }
    
    /* End Product */
    /* Footer */
    footer{
        padding: 50px 30px;
    }
    .footer_1, .footer_2, .footer_3{
        padding: 0 10px;
    }
    .footer_3{
        margin-top: 30px;
    }
    .footer_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer_wapper{
        margin-top: 50px;
    }
    
    .scroll{
        display: none;
    }
}